<a href="https://colab.research.google.com/github/Enthusiasmile/Python_Codes/blob/main/Notes3(Loops).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOPS
+ while loop
+ for loop

* while loop

In [ ]:
a=10
while a<=100:
  print(a)
  a=a+10

10
20
30
40
50
60
70
80
90
100

In [ ]:
a=5
b=2
while a<10:
  print(a+b)
  a=a+b

7
9
11

+ for loop

In [ ]:
#print 1st 10 numbers
for i in range(1,11): #1=start(inclusive) 11=stop(exclusive) 
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#multiple of 3
for i in range(3,31,3): #3=stepsize

  print(i)

3
6
9
12
15
18
21
24
27
30

Take a list of your choice and display the elements one by one

In [ ]:
l=['tushar','india',9632,'data','mathematics']
for t in l: #in
  print(t)

tushar
india
9632
data
mathematics

Take a list of numbers and square all the elements given in the list

In [ ]:
l1=[4,2,5,48,8,9,41]
for i in l1:
  print(i*i)

16
4
25
2304
64
81
1681

Take a list of numbers and append the squares in a separate list

In [ ]:
l2=[5,3,6,9,4,12,15,20,25]
new=[]
for i in l2:
  square=i*i
  new.append(square)

print(new)

[25, 9, 36, 81, 16, 144, 225, 400, 625]

Take a list of numbers and display all the even numbers from the list

In [ ]:
numbers=[1,5,8,74,25,214,23,6,4,8]
for i in numbers:
  if i%2==0:
    print(i)

8
74
214
6
4
8

Take a list of numbers and display the count of even numbers

In [ ]:
list1=[4,85,6,9,44,56,78,63,66]
count=0 #counter
for i in list1:
  if i%2==0:
    count=count+1 #if number is even,count will increase by 1
print(count)

6

Take a list of numbers and display the count of both even and odd numbers

In [ ]:
list1=[4,85,6,9,44,56,78,63,66]
even=0
odd=0
for i in list1:
  if i%2==0:
    even=even+1
  else:
    odd=odd+1
print('even=',even,'odd=',odd)

even= 6 odd= 3

Take a number as input from the user and display the multiplication table (till 10) for that number

In [ ]:
multiply=int(input('enter any number'))
for i in range(1,11):
  print(multiply*i)

enter any number10
10
20
30
40
50
60
70
80
90
100

Calculate the sum and average of all numbers from 1 to a given number by the user

In [ ]:
n=int(input('enter any number'))
sum=0
for i in range(1,n+1):
  sum=sum+i
print('sum=',sum,'average',sum/n)

enter any number5
sum= 15 average 3.0

STATEMENT

1.Pass- makes code segment inactive

2.Break- foecebly come out of the loop

3.Continue- element in condition is skipped and loop remains itrated

In [ ]:
a=int(input('enter any number'))
b=int(input('enter any number'))
if a>b:
  print('a is greater')
else:
  pass #else segment will be inactive

In [ ]:
name=['tushar','kiran','ashwini','onkar','aarti','pawan','sam','yash','nil']
for i in name:
  if i=='onkar':
    break #forcebly come out of loop after onkar
  print(i)

tushar
kiran
ashwini

In [ ]:
t='aristocracy'
for i in t:
  if i=='c':
    break #forcebly come out of the loop after 'c'.
  print(i)

a
r
i
s
t
o

In [ ]:
name=['tushar','kiran','ashwini','onkar','aarti','pawan','sam','yash','nil']
for i in name:
  if i=='aarti':
    continue #only 'aarti' is skipped
  print(i)

tushar
kiran
ashwini
onkar
pawan
sam
yash
nil

In [ ]:
t='aristocracy'
for i in t:
  if i=='o':
    continue
  print(i)

a
r
i
s
t
c
r
a
c
y

Display all the numbers between 1 to 10 except 3 or 7

In [ ]:
for i in range(1,11):
  if i==3 or i==7:
    continue
  print(i)

1
2
4
5
6
8
9
10

Assignments

1.Write a program which accepts month's name as input and display the number of days in the month as output

In [ ]:
month=input('enter name of month ')
if month in('jan','march','may','july','aug','oct','dec'):
  print('no. of days in',month,'are 31')
elif month in('april','jun','sep','nov'):
  print('no. of days in',month,'are 30')
elif month in('feb'):
  print('no. of days in',month,'are 28/29')

enter name of month sep
no. of days in sep are 30

2.Take any word as input from the user and count the number of vowels in the word

In [ ]:
word=input('enter any word ')
count=0
for i in word:
  if i in ('a','e','i','o','u'):
    count=count+1
print(count)

enter any word aashutosh
4

3.Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
n=[11,25,364,8,526,5874,22,5,45,785,369]
even=[]
odd=[]
for i in n:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print('even',even)
print('odd',odd)

even [364, 8, 526, 5874, 22]
odd [11, 25, 5, 45, 785, 369]

4.Write a program that appends datatype of elements from a list to a separate list

In [ ]:
type1=['dell','apple','hp',369,0.01,]
type2=[]
for i in type1:
  type2.append(type(i))
print(type2)

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'int'>, <class 'float'>]

5.Take a number as input from the user and find its factorial

In [ ]:
num=int(input('enter any number '))
fact=1
for i in range(1,num+1):
  fact=fact*i
print('factorial of',num,'is',fact)

enter any number 5
factorial of 5 is 120

6.Write a program to display only those numbers from a list that satisfies the following conditions:

The number must be divisible by 7

If the number is 140 then skip it and move to the next number in the list

If the number in the list is greater than 630 then stop the loop

In [ ]:
l1=[7,700,140,225]
for i in l1:
  if i==140:
    continue
  elif i>630:
    break
  elif i%7==0:
    print(i)
  else:
    pass

7