<a href="https://colab.research.google.com/github/Enthusiasmile/Python_Codes/blob/main/Notes4(Functions_%26_Arguments).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which adds any given two numbers

In [ ]:
def add(a,b): #def= for defining function #add= name of function #a,b are parameters 
  c=a+b       #defined
  print(c)

In [ ]:
add(7,6) #calling the function

13

Create a function which adds any given two numbers

In [ ]:
def three(a,b,c): #three parameters 
  d=a+b+c         #defined
  print(d)

In [ ]:
three(5,78,256) #calling the function

339

Create a function which displays whole number output of division operation on 2 numbers

In [ ]:
def fun(a,b):
  c=a//b #whole number as output
  print(c)

In [ ]:
fun(100,3)

33

Create a function which displays addition, subtraction, multiplication and division of 2 numbers

In [ ]:
def all(a,b):
  add=a+b
  sub=a-b
  mult=a*b
  div=a/b
  print(add,sub,mult,div)

In [ ]:
all(500,100)

600 400 50000 5.0

Create a function which takes name and age from the user and display the age of the person

In [ ]:
def user(name, age):
  print('hi',name,'your age is',age)

In [ ]:
user('tushar',25)

hi tushar your age is 25

Create a function which takes name and salary as input from the user and display the name and salary of the person.

In case the salary is not mentioned, take default salary as 15,0000

In [ ]:
def info(name,salary=150000): #salary=150000 will take salary 150000 by default
  print('hi',name,'your salary is',salary)

In [ ]:
info('tush')

hi tush your salary is 15000

Create a function which adds all the elements given in a list of numbers

In [ ]:
def adds(number):
  sum=0
  for i in number:
    sum=sum+i
  print(sum)

In [ ]:
adds((1,25,456,852))

1334

Create a function which displays the largest number out of three given numbers

In [ ]:
def larg(a,b,c):
  if a>b and a>c:
    print('largest number is',a)
  elif b>a and b>c:
    print('largest number is',b)
  else:
    print('largest number is',c)

In [ ]:
larg(1000,200,9993)

largest number is 9993

Create a function which computes area and circumference of a circle

In [ ]:
#circumference=2*pie*r
#area=pie*r*r
#pie=3.14

def compute(r):
  circum=2*3.14*r
  area=3.14*(r*r)
  print('circumference is',circum,'area is',area)

In [ ]:
compute(5)

circumference is 31.400000000000002 area is 78.5

Create a function which computes area and perimeter of a rectangle

In [ ]:
def react(l,b):
  area=l*b #area of reactangle= length*breadth
  peri=2*(l+b) #perimeter of reactangle= 2*(length+breadth)
  print('area is',area,'perimeter is',peri)

In [ ]:
react(10,8)

area is 80 perimeter is 36

Create a function which displays all the even numbers given in the list of numbers in a new separate list

In [ ]:
def even(numbers):
  eve1=[] #new seperate list to store even numbers in given list
  for i in numbers:
    if i%2==0:
      eve1.append(i)
      print(i)

In [ ]:
even((10,25,36,45,85,987,63,66,45,85,))

10
36
66

Create a function which counts the number of vowels and consonants in a given word

Vowels - a,e,i,o,u

Consonants - rest other alphabets

In [ ]:
def count(word):
  vow=0  #vowel counter
  cons=0 #consonents counter
  for i in word:
    if i in ('a','e','i','o','u'):
      vow=vow+1
    else:
      cons=cons+1
  print('vowels=',vow,'consonents=',cons)

In [ ]:
count(('aristocracy'))

vowels= 4 consonents= 7

ARGUMENTS
1. Default arguments

2. Arbitrary arguments

3. Keyword arguments

4. Arbitrary keyword arguments

1.Default Argument

Create a function which greets "Good morning" to the customer by using his/her name.

Incase the name is not provided, call the customer by the name "User"

In [ ]:
def greet(name='user'):
  print('hey',name,'Good Morning')

In [ ]:
greet('Tushar')

hey Tushar Good Morning

In [ ]:
greet()

hey user Good Morning

2.Arbitrary arguments (*args)

1. Here the number of parameters are unknown to us

2. In order to accept any number of parameters from the user, we use * symbol along with the name of the parameter

3. Arbitrary arguments are also called as *args

In [ ]:
def fun(*name):
  print('youngest child is',name[2])

In [ ]:
fun('tushar','amol','div','john')

youngest child is div

3.Keyword arguments

1. Here the number of parameters are known to us

2. While calling the function, we provide the input in the form of key value pair

3. Order of parameter does not play a role while defining also while calling

In [ ]:
def fun1(first,second,third): #no. of parameters are known to us
  print('my name is',first)

In [ ]:
fun1(first='tushar',second='ashok',third='bahirat') #input in the form of key value pair

my name is tushar

In [ ]:
fun1(second='ashok',first='tushar',third='bahirat') #order of parameter doesn't play any role

my name is tushar

Arbitrary keyword arguments

Here the number of parameters are unknown to us

While calling the function, we provide the input in the form of key value pair

We use ** symbol along with the name of the parameter

Arbitrary keyword arguments are also called **kwargs

In [ ]:
def fun(**names):
  print('my last name is',names['lname'])

In [ ]:
fun(fname='tushar',mname='ashok',lname='bahirat')

my last name is bahirat

RECURSION

Create a function which calculates the factorial of a number

In [ ]:
def func(n):

  fact=1
  if n<0:
   print('factorial of -ve number does not exist')
  elif n==1 or n==0:
   print('factorial of',n,'is 1')
  else:
    while n>1:
      fact=fact*n
      n=(n-1)
    print(fact)

In [ ]:
func(5)

120

ASSIGNMENT

Define a function that accepts a number and returns whether the number is even or odd.

In [ ]:
def func4(n):
  if n%2==0:
    print(n,'is even')
  else:
    print(n,'is odd')

In [ ]:
func4(19)

19 is odd

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def fun():
  sq=[]
  for i in range(1,31):
    square=i**2
    sq.append(square)
  print(sq)

In [ ]:
fun()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [ ]:
def shut_down(n):
  
    if n=='yes':
      print('shutting down')
    elif n=='no':
      print('shutdown aborted')
    else:
      print('sorry')

In [ ]:
shut_down('sdkfo')

sorry

Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [ ]:
def by_three(number):
  if number%3==0:
    print(number**3)
  else:
    print('false')

In [ ]:
by_three(27)

19683

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [ ]:
def f(n):
  l=[]
  for i in n:
    if i not in l:
      l.append(i)
  print(l)

In [ ]:
f((1,1,2,3,2,1,23,5,5,))

[1, 2, 3, 23, 5]

Define a function that checks whether a passed string is palindrome or not.

In [ ]:
def f(n):
  if n==n[::-1]:
    print('palindrome')
  else:
    print('not palindrome')

In [ ]:
f('madam')

palindrome